lab/webprueba/Web References/usuarioNube/WebServiceValor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcularValorMedio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularValorMedioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcularValorMedioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcularValorMedioSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularValorMedio" />
  </wsdl:message>
  <wsdl:message name="CalcularValorMedioSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularValorMedioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceValorSoap">
    <wsdl:operation name="CalcularValorMedio">
      <wsdl:input message="tns:CalcularValorMedioSoapIn" />
      <wsdl:output message="tns:CalcularValorMedioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceValorSoap" type="tns:WebServiceValorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularValorMedio">
      <soap:operation soapAction="http://tempuri.org/CalcularValorMedio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceValorSoap12" type="tns:WebServiceValorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularValorMedio">
      <soap12:operation soapAction="http://tempuri.org/CalcularValorMedio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceValor">
    <wsdl:port name="WebServiceValorSoap" binding="tns:WebServiceValorSoap">
      <soap:address location="http://sw18-fede.azurewebsites.net/WebServiceValor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceValorSoap12" binding="tns:WebServiceValorSoap12">
      <soap12:address location="http://sw18-fede.azurewebsites.net/WebServiceValor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>